/* Header */

.body{
    background-color: #F5F5F5;
}

.block-one{
    background-image: url(../img/Block1Photo/WIS_bckr.png) ;
    background-size:cover;
    background-repeat: no-repeat;
    height: 987px;
}


.header{
    position: relative;
    top: 0;
    left: calc(50% - 1660px / 2);
    width: 1660px;
}

.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-logo-block{
    margin-left: 50px;
    margin-top: 10px;
}

.logo{
    width: 370px;
    height: 152px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-item{
    list-style-type: none;
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.header-item .header-link::before{
    content: '';
    position: absolute;
    top: 40px;
    width: 0%;
    height: 8px;
    background: linear-gradient(0.25turn , #FF8B38 , #FFD338);
    border-radius: 10px;
    transition: 0.6s;
}

.header-item .header-link:hover::before{
    width:100%;
}

.header-search{
    margin-right: 50px;
    width: 35px;
    height: 35px;
}

.fraze{
    display: flex;
    flex-direction: column;
    padding-top: 118px;
    align-items: center;
    padding-bottom: 100px;
}

.big-fraze{
    -webkit-text-stroke: thin;
    font-size: 100px;
    color: white;
    padding-bottom: 50px;
}

.small-fraze{
    width: 861px;
    font-size: 38px;
    color: white;
}



.pointer{
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 20px;
}

.arrow-img{
    width: 62px;
    height: 62px;
    transition: 0.5s;
}

.arrow-img:hover{
    transform: translateY(-7px);
}

/* Block 2 */

.block-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 1212px;
    margin: 0 auto;
    padding-top: 100px;
}

.data-img{
    width: 1665px;
    height: 557px;
}

.data-text{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-title{
    color: #2F1C35;
    font-size: 55px;
    -webkit-text-stroke: thin;
    font-weight: bold;
    padding-bottom: 30px;
}

.item-block{
    display: flex;
}

.item-img{
    width: 15px;
    height: 15px;
}

.statistic-par{
    font-size: 23px;
    padding-bottom: 10px;
    padding-left: 13px;
    color: #2F1C35
}

/* Block 3 */

.table-block{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1214px;
    margin: 0 auto;
}

.table-title{
    color: #2F1C35;
    font-size: 31px;
    -webkit-text-stroke: thin;
    font-weight: bold;
    padding-bottom: 20px;
}

.table{
    background-color: #7A74EE;
    color: #FFEEFE;
    border-collapse: collapse;
    border-radius: 15px;
    text-align: left;
    font-size: 20px;
}

.thead{
    border-bottom: #947CCC 1px solid;
}

.tbody :not(:first-child,:last-child){
    border-bottom: #947CCC 1px solid;
}

thead th:nth-child(1) {
    width: 178px;
    padding: 20px 15px;
  }

  tbody td:nth-child(1) {
    width: 178px;
    padding: 20px 15px;
  }

  thead th:nth-child(2) {
    width: 138px;
  }
  
  tbody td:nth-child(2) {
    width: 138px;
  }

  thead th:nth-child(3) {
    width: 236px;
    padding:15px 0 ;
  }
  
  tbody td:nth-child(3) {
    width: 236px;
  }

  thead th:nth-child(4) {
    width: 426px;
  }

  tbody td:nth-child(4) {
    width: 426px;
  }

  thead th:nth-child(5) {
    width: 236px;
  }

  /* Block 4 */

  .block-four{
    display: flex;
    justify-content: center;
    width: 1212px;
    margin: 0 auto;
  }

  .diagnostic-block{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .diagnostic-text{
      width: 706px;
      padding-right: 30px;
  }

  .diagn-par{
      font-size: 23px;
    line-height: 1.5;
    width: 657px;
    padding-bottom: 30px;
  }

  .diagn-img{
      width: 474px;
      height: 553px;
  }

  .diagn-title{
      font-size: 25px;
      padding-bottom: 20px;
  }

  .diagn-list-block{
      display: flex;
      align-items: center;
      padding-bottom: 10px;
  }

  .diagn-list{
      font-size: 23px;
      padding-left: 10px;
  }

  .more-info{
      width: 1214px;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 150px;
  }

  .accordion {
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: thin;
    color: #7848FF;
    box-shadow: 0 0 6px #a7a7a770 ,0 0 30px #b2b2b269;
    cursor: pointer;
    padding: 30px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
}

.active, .accordion:hover {
    background: white;
    box-shadow: none;
    border-radius: 0%;
}

.panel {
    padding: 40px 26px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 20px;
    color: #57535B;
    /* max-height: 0; */
    transition: 0.5s ease-out;
    margin-bottom: 20px;
}

.panel-paragraph{
    padding-bottom: 10px;
}

.donate-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/Block5Photo/Donate-back.jpg);
    background-size: cover;
    height: 450px;
    margin-bottom: 150px;
}

.donate-title{
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: white;
}

.donate-paragraph{
    width: 872px;
    padding-top: 24px;
    text-align: center;
    font-size: 20px;
    -webkit-text-stroke: thin;
    color: white;
}

.but{
    padding-top: 30px;
}

.donate{
    padding: 20px 100px;
    background: linear-gradient(0.25turn , #FF8B38 , #FFD338);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50px;
    -webkit-text-stroke: thin;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.6s;
}

.donate:hover{
    box-shadow: 0 0 10px #FFD338, 0 0 25px #FF8B38, 0 0 50px #FFD338;
}

.donate:active{
    background: linear-gradient(0.25turn , #fd7615 , #fcc913);
    box-shadow: 0 0 10px #fcc913, 0 0 25px #fd7615, 0 0 50px #fcc913;
}

.services-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1214px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.text-serv-block{
    display: flex;
    flex-direction: column;
}
.serv-par {
    width: 533px;
    font-size: 23px;
    padding-bottom:10px;
}
.serv-img{
    width: 602px;
    height: 401px;
}
.ins-block{
    width: 1214px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.ins-par{
    font-size: 23px;
}

.educat-block{
    display: flex;
    width: 1214px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 100px;
}

.educat-text{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    align-items: flex-start;
    justify-content: center;
}

.educat-img{
    width: 600px;
    height: 400px;
}

.block-nine{
    background-image: url(../img/Block7Photo/Subtract.png);
    height: 1400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.treat-block{
    display: flex;
    width: 1214px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 160px;
}

.treat-title{
    color: white;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 20px;
}

.treat-par{
    width: 533px;
    font-size: 23px;
    padding-bottom: 10px;
    color: white;
}



.accordion-item{
    margin-bottom: 55px;
}

.treat-acc-input{
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
}

.treat-accordion{
    display: block;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: thin;
    color: white;
    cursor: pointer;
    padding: 13px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #80808000;
   
}

.treat-accordion:hover {
    color: #FFC760;
}

.treat-panel{
    font-size: 20px;
    color: white;
    max-height: 0;
    transition:0.5s ease-out;
    margin-bottom: 20px;
    display: none;
}

.treat-panel::after{
    content: url('');
}

.treat-acc-input:checked ~ .treat-accordion{
    color: #FFC760;
}
.treat-acc-input:checked ~ .treat-panel{ 
    display: block; 
}


.block-ten{
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    padding-top: 200px;
    padding-bottom: 200px;
}
.partners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1585px;
}

.img-partner{
    width: 240px;
    height: 176px;
    border: #EDEDED 2px solid;
}

.img-partner:hover{
    border: none;
    box-shadow: 0 0 10px #a7a7a770 ,0 0 50px #b2b2b269;
    transition: 0.3s;
}

.footer{
    background-color: #968DFF;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu{
    display: grid;
    grid-template-columns: 234px 274px;
    grid-gap: 20px;
    padding-left: 90px;
}

.footer-infblock{
    width: 327px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.foot-info{
    display: flex;
    flex-direction: column;
}

.foot-info :not(:last-child){
    margin-bottom: 15px;
}

.phone::before{
    content: '' ;
    background-image: url(../img/Block9Photo/phone.png) ;
    background-size: 16.19px 20px ;
    background-repeat: no-repeat;
    display: inline-block ;
	background-position: right center;
	position:relative;
	right:0.5vw;
    width: 16.19px;
    height: 20px;
}

.email::before{
    content: '' ;
    background-image: url(../img/Block9Photo/email.png) ;
    background-size: 19px 15.4px ;
    background-repeat: no-repeat;
    display: inline-block ;
	background-position: right center;
	position:relative;
	right:0.5vw;
    width: 17.4px;
    height: 15.4px;
}

.adress::before{
    content: '' ;
    background-image: url(../img/Block9Photo/Location.png) ;
    background-size: 15px 22px ;
    background-repeat: no-repeat;
    display: inline-block ;
	background-position: right center;
	position:relative;
	right:0.5vw;
    width: 15px;
    height: 22px;
}

.media-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-foot{
    padding: 20px 80px;
    background: linear-gradient(0.25turn , #FF8B38 , #FFD338);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50px;
    -webkit-text-stroke: thin;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ;
}

.donate-foot:hover{
    box-shadow: 0 0 10px #FFD338, 0 0 25px #FF8B38, 0 0 50px #FFD338;
}

.donate-foot:active{
    background: linear-gradient(0.25turn , #fd7615 , #fcc913);
    box-shadow: 0 0 10px #fcc913, 0 0 25px #fd7615, 0 0 50px #fcc913;
}

.follow{
    margin-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.soc-media{
display: flex;
margin-top: 5px;
}

.icons{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: 0.5s ;
}

.icons:hover{
    transform: translateY(-5px);
}

.privacy{
    background-color: #9244E0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.block-privacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1610px;
    margin:  0 auto;
}

.priv-paragraph{
    color: #E7C3E5;
    font-size: 15px;
}

#link-policy{
    margin-right: 10px;
}

.policy{
    display: flex;
}


@media screen and (max-width: 1600px) {
    .block-one{
        width: 1665px;
        margin: 0 auto;
    }
    .block-two{
        width: 1665px;
        margin: 0 auto;
    }

    .table-block{
        width: 1665px;
        margin: 0 auto;
    }

    .block-four{
        width: 1665px;
        margin: 0 auto;
    }

    .more-info{
        width: 1665px;
        margin: 0 auto;
    }

    .donate-block{
        width: 1665px;
        margin: 0 auto;
    }

    .block-seven{
        width: 1665px;
        margin: 0 auto;
        padding-top: 150px;
    }

    .block-nine{
        width: 1665px;
        margin: 0 auto;
    }

    .accord{
        margin-left:  240px;
    }

    .block-ten{
        width: 1665px;
        margin: 0 auto;
    }

    .footer{
        width: 1665px;
        margin: 0 auto;
    }

    .privacy{
        width: 1665px;
        margin: 0 auto;
    }
}
